<mat-card>
    <ng-container *ngIf="!showSearchResults; else searchResultsTemplate">
        <app-feed></app-feed>
    </ng-container>

    <ng-template #searchResultsTemplate>
        <mat-card-content class="container-videos">
            <div class="card-container">
                <div *ngIf="noResultsFound">No hay resultados</div>
                <div *ngFor="let video of videos" class="card">
                    <a [routerLink]="['/dashboard/videos', video.id]">
                        <div class="thumbnail-container">
                            <img [src]="getVideoThumbnailUrl(video.thumbnailLocation)" alt="{{ video.title }}"
                                class="thumbnail">
                            <div class="overlay">
                                <mat-icon>
                                    <div class="icon">play_circle_fill</div>
                                </mat-icon>
                            </div>
                        </div>
                    </a>
                    <div class="card-content">
                        <a [routerLink]="['/dashboard/videos', video.id]">
                            <h2>{{ video.title }}</h2>
                        </a>
                        <div class="container-userdata">
                            <a [routerLink]="['/dashboard/profile', video.user.id]">
                                <div class="video-user-data">
                                    <div>
                                        <img class="img-profile" [src]="profileImage" alt="Profile Image">
                                    </div>
                                    <div class="video-user-name">{{ video.user.name }}</div>
                                </div>
                            </a>
                        </div>
                        <div class="card-statistic-video">
                            <span>{{ video.totalViews }} visualizaciones</span>
                            ·
                            <span>hace {{ formatDistanceToNow(video.date) }}</span>
                        </div>
                        <div> {{ getDescription(video, 343) }}</div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </ng-template>
</mat-card>