<mat-card>

    <mat-card-header class="profile-data">
        <div class="column">
            <img class="img-profile" [src]="profileImage" alt="Profile Image">
        </div>
        <div class="column">
            <h2 class="title-page">
                {{ currentUser.name }}
            </h2>
            <div class="estadisticas-user">
                {{ suscriberCount }} suscripciones
                ·
                2 videos
            </div>
            <div *ngIf="currentUser.description != ''">
                {{ currentUser.description }}
            </div>
            <div class="btn-actions">
                <button mat-flat-button color="accent" class="btn btn-seguir" *ngIf="!isSubscribed()"
                    (click)="subscribe()">
                    Seguir
                </button>
                <button mat-flat-button color="accent" class="btn btn-seguir" *ngIf="isSubscribed()"
                    (click)="unsubscribe()">
                    Dejar de seguir
                </button>
                <button mat-flat-button color="primary" class="btn btn-seguir"
                    (click)="editProfile(currentUser.id, currentUser.name, currentUser.description, currentUser.email, currentUser.password, currentUser.rol, currentUser.status)">
                    <div class="btn-edit">
                        <mat-icon class="icon">edit</mat-icon>
                        <span>
                            Editar perfil
                        </span>
                    </div>
                </button>
            </div>
        </div>
    </mat-card-header>


    <mat-card>
        <mat-card-content class="container-videos">
            <h3>Últimos vídeos</h3>
            <div class="card-container">
                <div *ngFor="let video of videos" class="card">
                    <img [src]="video.thumbnailLocation" alt="{{ video.title }}" class="thumbnail">
                    <div class="card-content">
                        <h4>{{ video.title }}</h4>
                        <div class="card-statistic-video">
                            <!-- <span>{{ video.views }} visualizaciones</span> -->
                            ·
                            <!-- <span>{{ video.uploadDate | date:'short' }}</span> -->
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>