<mat-card>
    <div class="container-singup">
        <div class="column">
            <div>
                <span><a href="#"><img class="logo" src="../../../../../assets/img/brizztube-logo-3.svg"
                            alt="logo-brizztube"></a></span>
            </div>
            <div>
                <img class="register-banner" src="../../../../../assets/img/undraw_lives_matter_38lv.svg" alt="">
            </div>
        </div>
        <div class="column">
            <div class="form-container">
                <h2 class="form-title">Inicia sesión</h2>
                <mat-dialog-content>
                    <form [formGroup]="loginForm" class="form">
                        <div class="user-container">
                            <mat-form-field appearance="fill">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Contraseña</mat-label>
                                <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="********"
                                    formControlName="password">
                                <button mat-icon-button matSuffix (click)="togglePasswordVisibility()"
                                    [attr.aria-label]="hidePassword ? 'Show password' : 'Hide password'">
                                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                                </button>
                            </mat-form-field>

                        </div>
                    </form>
                    <div>
                        ¿No tienes cuenta todavía? <a href="http://localhost:4200/singup">Registrate</a>
                    </div>
                    <p *ngIf="errorMessage || loginForm.invalid" class="error-message">{{ errorMessage }}</p>
                    <mat-dialog-actions>
                        <button mat-flat-button color="primary" class="btn-long" (click)="login()"
                            [disabled]="loginForm.invalid">
                            Iniciar Sesión
                        </button>
                    </mat-dialog-actions>
                </mat-dialog-content>
            </div>

        </div>

    </div>
</mat-card>