<mat-card>
    <mat-card-header class="profile-data" *ngFor="let element of user">
        <div class="column">
            <img [src]="getAvatarUrl(element.picture)" alt="{{ element.name }}" class="img-profile">
        </div>
        <div class="column">
            <h2 class="title-page">
                {{ element.name }}
            </h2>
            <div class="estadisticas-user">
                {{ element.totalSubs }} suscripciones
                ·
                2 videos
            </div>
            <div *ngIf="element?.description != ''">
                {{ element.description }}
            </div>
            <div class="btn-actions">
                <button mat-flat-button color="accent" class="btn btn-seguir" (click)="subscribe(element)"
                    *ngIf="!isSubscribed">
                    Seguir
                </button>
                <button mat-flat-button color="accent" class="btn btn-seguir" (click)="unsubscribe(element)"
                    *ngIf="isSubscribed">
                    Dejar de seguir
                </button>
            </div>
        </div>
    </mat-card-header>


    <mat-card-content class="container-videos">
        <h3>Últimos vídeos</h3>

        <div class="card-container">
            <div *ngFor="let video of videos" class="card">
                <a [routerLink]="['/dashboard/videos', video.id]">
                    <div class="thumbnail-container">
                        <img [src]="getVideoThumbnailUrl(video.thumbnailLocation)" alt="{{ video.title }}">
                        <div class="overlay">
                            <mat-icon>
                                <div class="icon">
                                    play_circle_fill
                                </div>
                            </mat-icon>
                        </div>
                    </div>
                    <div class="card-content">
                        <h4>{{ video.title }}</h4>
                        <div class="card-statistic-video">
                            <span>{{ video.totalViews }} visualizaciones</span>
                            ·
                            <span>hace {{ formatDistanceToNow(video.date) }}</span>

                        </div>
                    </div>
                </a>

            </div>
        </div>
    </mat-card-content>
</mat-card>