<mat-card>
    <mat-card-header class="profile-data" *ngFor="let element of user">
        <div class="column">
            <img [src]="getAvatarUrl(element.picture)" alt="{{ element.name }}" class="img-profile">
        </div>
        <div class="column">
            <h2 class="title-page">
                {{ element.name }}
            </h2>
            <div class="estadisticas-user">
                {{ element.totalSubs }} suscripciones
                ·
                2 videos
            </div>
            <div *ngIf="element?.description != ''">
                {{ element.description }}
            </div>
            <div class="btn-actions">
                <button mat-flat-button color="accent" class="btn btn-seguir" (click)="subscribe(element)"
                    *ngIf="!isSubscribed">
                    Seguir
                </button>
                <button mat-flat-button color="accent" class="btn btn-seguir" (click)="unsubscribe(element)"
                    *ngIf="isSubscribed">
                    Dejar de seguir
                </button>
                <button mat-flat-button color="primary" class="btn btn-seguir" *ngIf="element.id == currentUser.id"
                    (click)="editProfile(currentUser.id, currentUser.name, currentUser.description, currentUser.email, currentUser.password, currentUser.rol, currentUser.status, currentUser.picture)">
                    <div class="btn-edit">
                        <mat-icon class="icon">edit</mat-icon>
                        <span>
                            Editar perfil
                        </span>
                    </div>
                </button>
            </div>
        </div>
    </mat-card-header>


    <mat-card-content class="container-videos">
        <h3>Últimos vídeos</h3>

        <div class="card-container">
            <div *ngFor="let video of videos" class="card">

                <div class="thumbnail-container">
                    <a [routerLink]="['/dashboard/videos', video.id]">
                        <img [src]="getVideoThumbnailUrl(video.thumbnailLocation)" alt="{{ video.title }}">

                        <div class="overlay">
                            <mat-icon>
                                <div class="icon">
                                    play_circle_fill
                                </div>
                            </mat-icon>
                        </div>
                    </a>
                </div>

                <div class="card-content">
                    <div class="content-superior">
                        <a [routerLink]="['/dashboard/videos', video.id]">
                            <h4>{{ video.title }}</h4>
                        </a>
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                    <div class="card-statistic-video">
                        <span>{{ video.totalViews }} visualizaciones</span>
                        ·
                        <span>hace {{ formatDistanceToNow(video.date) }}</span>
                    </div>
                    <!-- Agregar el botón con el menú desplegable -->
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openEditVideosForm(video)">Editar
                            video</button>
                        <button mat-menu-item (click)="deleteVideo(video.id)">Eliminar video</button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>