<div class="header-modal">
    <h2 class="titulo-modal">Subir vídeo</h2>
    <button mat-icon-button (click)="onCancel()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <div>
        <mat-dialog-content>

            <form [formGroup]="updateForm">
                <div class="video-details-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Título</mat-label>
                        <input matInput placeholder="Título" formControlName="title" required>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Descripción</mat-label>
                        <textarea matInput placeholder="Descripción" formControlName="description"></textarea>
                    </mat-form-field>


                    <mat-form-field>
                        <mat-label>Categoría</mat-label>
                        <mat-select formControlName="categoryId">
                            <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>


                    <div class="select-thubmnail">
                        <div class="miniatura-container" *ngIf="thumbnailUrl">
                            <img [src]="thumbnailUrl" alt="Miniatura del video">
                        </div>

                        <div class="input-file-conteiner">
                            <label for="file-upload" class="subir">
                                <mat-icon>image</mat-icon>
                                <span>
                                    Subir miniatura
                                </span>

                            </label>
                            <input id="file-upload" accept="image/png, image/jpeg, image/jpg"
                                (change)="onFileChanged($event)" type="file" formControlName="thubmnailFile"
                                class="input-file">
                            <span>{{ nameImg }}</span>
                        </div>
                    </div>



                </div>
            </form>
            <mat-dialog-actions>
                <button mat-flat-button color="primary" class="btn" (click)="onSave()" [disabled]="updateForm.invalid">
                    Publicar
                </button>
            </mat-dialog-actions>
        </mat-dialog-content>

    </div>
</mat-dialog-content>