ul {
    margin: 0px;
    padding: 0px;

}

ul li {
    list-style: none;
    margin: 0px;
}

.title-page {
    margin-top: 25px;
    margin-left: 4%;
}

mat-card-header,
mat-card-content {
    margin-left: 4%;
    margin-right: 4%;
}

.btn {
    color: #fff;
}

.right {
    margin-left: auto;
}