mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo svg {
    width: 110px;
    margin-bottom: 2px;
    margin-left: 10px;
    fill: #000000;

    &:hover {
        fill: var(--color-primario);
    }
}

.logo {
    font-size: 2rem;
    font-weight: 600;
}

.input-container {
    position: relative;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 5px 10px;
    border: 1px #ccc solid;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

    &:hover {
        border-color: var(--color-primario);
    }
}

.input-container input[type="text"] {
    border: none;
    outline: none;
    background-color: transparent;

    &::placeholder {
        font-size: 12px;
        color: #333;
    }
}

.input-container .search-button {
    position: relative;
    background-color: #E0E0E0;
    width: 20px;
    height: 20px;
    border: none;
    color: #fff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;


    &:hover {
        cursor: pointer;
        background-color: var(--color-primario);
    }
}

.search-icon {
    font-size: 14px;
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, 73%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.btn {
    height: auto;
    padding: 6px 10px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;

    &:hover {
        background-color: #555;
    }

    & .user-icon {
        font-size: 20px;
    }
}

.sidenav-container {
    flex: 1;
    height: 100vh;
}

.is-mobile .sidenav-container {
    flex: 1 0 auto;
}

ul li {
    list-style: none;
}

div ul {
    display: flex;
    align-items: center;
}

.header {
    margin-top: 20px;
}

.icono {
    margin-right: 8px;
    /* font-size: 16px; */
}

.container-links-sidenav {
    display: flex;
    flex-direction: column;
    width: 220px;

}

.container-links-sidenav a {
    display: flex;
    width: 80%;
    margin-left: 7%;
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;

    &:hover {
        background-color: #f0f0f0;
    }
}

.links-sidenav-name {
    margin-top: 6px;
}

.menu-content {
    height: auto;
    display: flex;
    align-items: center;

    &:hover {
        background-color: #f0f0f0;
    }
}

.list-item {
    display: flex;
}

.icono {
    margin-top: 5px;
}

.separador {
    margin: 15px 10px;
}


.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logged-profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.txt-white {
    color: #fff;
}

.btn-upload-video:hover {
    background-color: #0fa580;
}


.profile-image-button {
    background: transparent;
    border: none;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    /* Hacer que se comporte como un elemento en línea */
    margin-right: 10px;
    /* Espacio a la derecha del botón */

    &:hover {
        cursor: pointer;

        & .img-profile {
            opacity: 0.6;
        }
    }
}

.img-profile {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.menu-content {
    width: 200px;
    height: auto;
    display: flex;
    align-items: center;
    padding: 10px;

    &:hover {
        background-color: #f0f0f0;
        cursor: pointer;
    }
}

.menu-content a {
    cursor: pointer;
}

@media (max-width: 900px) {
    .input-container {
        width: 500px;
    }
}

@media (max-width: 768px) {
    .input-container {
        width: 300px;
    }
}

@media (max-width: 600px) {
    mat-toolbar.search-form-active {
        justify-content: flex-start;
    }

    .logo svg {
        width: 80px;
    }

    .container-links-sidenav {
        width: 300px;
    }

    .input-container {
        width: 140%;
    }

}

@media (max-width: 370px) {
    mat-toolbar.search-form-active {
        justify-content: flex-start;
    }


    .input-container {
        width: 135%;
    }

}

@media (max-width: 345px) {
    mat-toolbar.search-form-active {
        justify-content: flex-start;
    }


    .input-container {
        width: 100%;
    }

}