<h2 class="titulo-modal" mat-dialog-title>Editar perfil usuario</h2>
<mat-dialog-content>
    <form [formGroup]="userForm">
        <div class="user-container">
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" formControlName="name" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Descripción</mat-label>
                <textarea matInput placeholder="Descripción" formControlName="description"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="********"
                    formControlName="password">
                <button mat-icon-button matSuffix (click)="togglePasswordVisibility()"
                    [attr.aria-label]="hidePassword ? 'Show password' : 'Hide password'">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>


            <div class="input-file-conteiner">
                <label for="file-upload" class="subir">
                    <mat-icon>file_upload</mat-icon>
                    Subir imagen
                </label>
                <input id="file-upload" accept="image/png, image/jpeg, image/jpg" (change)="onFileChanged($event)"
                    type="file" formControlName="picture" class="input-file">
                <span>{{ nameImg }}</span>
            </div>


        </div>
    </form>
    <mat-dialog-actions>
        <button mat-flat-button color="primary" class="btn" (click)="onSave()" [disabled]="userForm.invalid">
            <mat-icon>save</mat-icon>
            Guardar
        </button>
        <button mat-flat-button color="warn" class="btn" (click)="onCancel()">
            <mat-icon>cancel</mat-icon>
            Cancelar
        </button>
    </mat-dialog-actions>
</mat-dialog-content>