/* You can add global styles to this file, and also import other style files */
:root {
    --color-primario: #1ABC9C;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-white {
    background-color: #fff;
}

.box-shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.d-flex {
    display: flex;
}

.flex-align-center {
    align-items: center;
}

.flex-content-center {
    justify-content: center;
}

.bg-primary {
    background-color: var(--color-primario);
}

.btn {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}


/* .btn-form {} */