<div class="header-modal">
    <h2 class="titulo-modal" mat-dialog-title>Subir vídeo</h2>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <div class="drop-area" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragenter)="onDragEnter($event)"
        (dragleave)="onDragLeave($event)" [class.drag-over]="isDragOver">

        <mat-icon class="icon">videocam</mat-icon>
        <h3>Arrastra y suelta un archivo de video aquí</h3>
        <p>Formatos soportados: MP4, AVI, MOV</p>
        <p>Tamaño máximo: 200MB</p>

        <input type="file" id="fileInput" accept="video/*" (change)="onFileSelected($event)" style="display: none;">
        <button class="btn-examinar" (click)="openFileInput()">
            <mat-icon>folder</mat-icon>
            <div>Examinar</div>
        </button>

        <span *ngIf="selectedFile">
            {{ selectedFile.name }} ({{ selectedFile.size / (1024 * 1024) | number:'1.0' }} MB)
        </span>

    </div>
</mat-dialog-content>