<mat-card>
    <mat-card-content class="container">
        <div class="general-content">
            <div *ngFor="let video of videos" class="video">
                <video controls>
                    <source [src]="getVideoUrl(video.videoLocation)" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <h2>{{ video.title }}</h2>
                <div class="container-userdata">
                    <div class="video-user-data">
                        <!-- datos usuarios -->
                        <div>
                            <img class="img-profile" [src]="profileImage" alt="Profile Image">

                        </div>
                        <div class="column">
                            <span class="video-user-name">
                                {{ video.user.name }}
                            </span>
                            <span>
                                {{ suscriberCount }} suscripciones
                            </span>

                        </div>
                        <div class="btn-actions">
                            <button mat-flat-button color="accent" class="btn btn-seguir" *ngIf="!isSubscribed()"
                                (click)="subscribe()">
                                Seguir
                            </button>
                            <button mat-flat-button color="accent" class="btn btn-seguir" *ngIf="isSubscribed()"
                                (click)="unsubscribe()">
                                Dejar de seguir
                            </button>
                            <button mat-flat-button color="primary" class="btn btn-seguir"
                                *ngIf="belongsToCurrentUser(video)" (click)="editVideo()">
                                <div class="btn-edit">
                                    <mat-icon class="icon">edit</mat-icon>
                                    <span>
                                        Editar vídeo
                                    </span>
                                </div>
                            </button>

                        </div>
                    </div>
                    <div class="btn-interact">
                        <!-- boton me gusta -->
                        <button class="btn-action btn-like">
                            <mat-icon>
                                <div class="icon">
                                    favorite
                                </div>
                            </mat-icon>
                            <div style="color: #fff;">
                                {{ video.totalLikes }}
                            </div>
                        </button>
                        <!-- boton añadir a la lista -->
                        <button class="btn-action">
                            <mat-icon>
                                <div class="icon icon-add-list">
                                    playlist_add
                                </div>
                            </mat-icon>
                        </button>
                    </div>
                </div>

                <div class="video-statistics">
                    <span>{{ video.totalViews }} visualizaciones</span>
                    ·
                    <span>hace {{ formatDistanceToNow(video.date) }}</span>
                    ·
                    <span>{{video.category.name}}</span>

                </div>
                <div class="video-description">
                    {{ video.description }}
                </div>


            </div>
            <div>
                <app-comments></app-comments>
            </div>
        </div>


        <aside class="videos">
            <app-aside-videos></app-aside-videos>
        </aside>

    </mat-card-content>
</mat-card>